html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Bai Jamjuree', sans-serif;
  background-image: url(../images/bg-header-desktop.png);
  background-size: 0;
  position: relative;
  background-repeat: no-repeat;
}

body::before, body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: inherit;
  background-size: cover;
  background-repeat: inherit;
  background-position: 100% 50%;
}

body::before {
  right: 50%;
}

body::after {
  left: 50%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

a,
a:focus,
a:visited {
  text-decoration: none;
}

.main {
  width: 60%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 170px;
}

.main__title h2 {
  font-weight: 600;
  color: #4c545d;
}

.main__description p {
  font-size: 20px;
  color: #9fabb2;
}

@media screen and (max-width: 575.98px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
    background-size: 0;
    position: relative;
    background-repeat: no-repeat;
  }
  body::before, body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: inherit;
    background-size: cover;
    background-repeat: inherit;
    background-position: 100% 50%;
  }
  body::before {
    right: 50%;
  }
  body::after {
    left: 50%;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  body .header__copy {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  body .header__copy h1 {
    font-size: 31px;
  }
  body .header__copy p {
    font-size: 16px;
  }
  body .header__buttons .iOS_button {
    margin-bottom: 28px;
    max-width: 311px;
  }
  body .header__buttons .Mac_button {
    max-width: 311px;
  }
  body .main {
    width: 100%;
  }
  body .main__description {
    padding: 0 10px;
  }
  body .main__description p {
    font-size: 17px;
  }
}

.header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 120px 21px 0;
}

.header__logo {
  width: 100%;
  height: auto;
}

.header__logo img {
  height: 119px;
}

.header__copy {
  width: 59%;
  height: auto;
  margin: auto;
  margin-top: 70px;
}

.header__copy h1 {
  color: #4c545d;
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 27px;
}

.header__copy p {
  color: #9fabb2;
  font-size: 21px;
  font-weight: 400;
}

.header__buttons {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.header__buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 17px 29px;
  text-align: center;
  border-radius: 50px;
}

.header__buttons .iOS_button {
  background-color: #26baa4;
  margin-bottom: 28px;
  max-width: 215px;
  margin: 0 0 0 auto;
  border-bottom: 3px solid #259C86;
}

.header__buttons .Mac_button {
  background-color: #6173ff;
  max-width: 215px;
  border-bottom: 3px solid #5062DB;
}
/*# sourceMappingURL=style.css.map */