section.header {
    background-image: url('../images/bg-header-desktop.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    border: 2px solid magenta;

}

.header {

    &__logo {
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 75px;
    }

    &__copy {
        width: 50%;
        height: auto;
        padding: 0 20px;
        text-align: center !important;

        h1 {
            font-size: 2.67rem;
        }

        .copy__buttons {

            margin-top: 50px;

            a.ios_button {
                display: inline-block;
                width: 220px;
                background-color: $strong-cyan;
                color: #fff;
                font-weight: 600;
                padding: 15px 30px;
                border-radius: 50px;
                border-bottom: 3px solid $strong-green;
                margin-right: 20px;
            }

            a.mac_button {
                display: inline-block;
                width: 220px;
                background-color: $light-blue;
                color: #fff;
                font-weight: 600;
                padding: 15px 30px;
                border-radius: 50px;
                border-bottom: 3px solid $strong-blue;
            }

            @media screen and (min-width: 320px) and (max-width: 568px) {

                a.mac_button {
                    width: 311px;
                }

                a.ios_button {
                    width: 311px;
                    margin-bottom: 25px;
                    margin-right: 0px;
                }
            }
        }

    }

    @media screen and (min-width: 320px) and (max-width: 1440px) {
        &__copy {
            width: 100%;
            padding: 0;
        }
    }

}