.main {
    width: 60%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 170px;

    &__title {
        h2 {
            font-weight: 600;
            color: $dark-grayish-blue;
        }
    }

    &__description {
        p {
            font-size: 20px;
            color: $grayish-blue;
        }
    }

}

.hero {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;
    display: inline-flex;

    &__image-computer {
        
        img {
            width: 100%;
            position: relative;
            left: -40%;
            right: 0;
        }
    }

    &__description {
        font-size: 18px;
        color: $grayish-blue;
        align-items: center;

        h3 {
            font-weight: 600;
            color: $dark-grayish-blue;
        }
    }
}
