section.content {
    margin: 0;
    padding: 50px 0px;
}

.content {
    border: 2px solid magenta;


    .content__backimg {
        position: relative;
        left: -34px;
    }

    .content__text {
        height: 500px;
        display: flex;
        align-items: center;

        .content__text-align {
            width: 40%;
            height: 400px;
            // width: 40%;
            // height: 500px;

            p {
                margin-bottom: 50px;
            }
        }

    }
}