@mixin background-mirror ($position: 0%,
    $size: auto,
    $axis: horizontal) {
    background-size: 0;
    position: relative;
    background-repeat: no-repeat;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-image: inherit;
        background-size: $size;
        background-repeat: inherit;

        @if ($axis=="horizontal") {
            background-position: 100% $position;
        }

        @else if ($axis=="vertical") {
            background-position: $position 100%;
        }
    }

    &::before {
        @if ($axis=="horizontal") {
            right: 50%;
        }

        @else if ($axis=="vertical") {
            bottom: 50%;
        }
    }

    &::after {
        @if ($axis=="horizontal") {
            left: 50%;
            transform: scaleX(-1);
        }

        @else if ($axis=="vertical") {
            top: 50%;
            transform: scaleY(-1);
        }
    }
}